<div class="card text-center">
    <div class="card-header">
      <h2>PollPulse</h2>
    </div>
    <div class="card-body">
      <h5 class="card-title">Ласкаво просимо на наш сайт опитувань! </h5>
      <p class="card-text">Тут Ви зможете взяти участь у різних опитуваннях та висловити свою думку на різноманітні теми. Наш сайт пропонує Вам можливість долучитись до спільноти людей, які цікавляться подібними темами та бажають висловити своє ставлення. Долучайтеся до наших опитувань та внесіть свій вклад в формування думок нашої спільноти!</p>
      
      <a [routerLink]="[ '/polls' ]"  class="btn btn-primary">Перейти до опитування</a>
    </div>
</div>